# üìä Data preparing

In [1]:
import pandas as pd

In [2]:
power = pd.read_csv('global_power_plant_database.csv', low_memory=False)

airdata_aqi = pd.read_csv('aqi-data/AQI Value.csv')
airdata_country = pd.read_csv('aqi-data/Country.csv')
airdata_date = pd.read_csv('aqi-data/Date.csv')

hdidata_demographics = pd.read_csv('hdi-datas-collection/demographics_dataset.csv')
hdidata_co2 = pd.read_csv('hdi-datas-collection/co2_emissions_dataset.csv')
hdidata_income = pd.read_csv('hdi-datas-collection/income_dataset.csv')
hdidata_hdi = pd.read_csv('hdi-datas-collection/hdi_dataset.csv')
hdidata_life_expectancy = pd.read_csv('hdi-datas-collection/life_expectancy_dataset.csv')

## üè≠ Power plants database preparing

In [3]:
power.head()

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,...,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017,estimated_generation_note_2013,estimated_generation_note_2014,estimated_generation_note_2015,estimated_generation_note_2016,estimated_generation_note_2017
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,GEODB0040538,33.0,32.322,65.1190,Hydro,NaN,NaN,...,123.77,162.90,97.39,137.76,119.50,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
1,AFG,Afghanistan,Kandahar DOG,WKS0070144,10.0,31.670,65.7950,Solar,NaN,NaN,...,18.43,17.48,18.25,17.70,18.29,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
2,AFG,Afghanistan,Kandahar JOL,WKS0071196,10.0,31.623,65.7920,Solar,NaN,NaN,...,18.64,17.58,19.10,17.62,18.72,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,GEODB0040541,66.0,34.556,69.4787,Hydro,NaN,NaN,...,225.06,203.55,146.90,230.18,174.91,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,GEODB0040534,100.0,34.641,69.7170,Hydro,NaN,NaN,...,406.16,357.22,270.99,395.38,350.80,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1

In [4]:
power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34936 entries, 0 to 34935
Data columns (total 36 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country                         34936 non-null  object
 1   country_long                    34936 non-null  object
 2   name                            34936 non-null  object
 3   gppd_idnr                       34936 non-null  object
 4   capacity_mw                     34936 non-null  float64
 5   latitude                        34936 non-null  float64
 6   longitude                       34936 non-null  float64
 7   primary_fuel                    34936 non-null  object
 8   other_fuel1                     1944 non-null   object
 9   other_fuel2                     276 non-null    object
 10  other_fuel3                     92 non-null     object
 11  commissioning_year              17447 non-null  float64
 12  owner                           20868 non-null  object
 13  source                          34921 non-null  object
 14  url                             34918 non-null  object
 15  geolocation_source              34517 non-null  object
 16  wepp_id                         16234 non-null  object
 17  year_of_capacity_data           14887 non-null  float64
 18  generation_gwh_2013             6417 non-null   float64
 19  generation_gwh_2014             7226 non-null   float64
 20  generation_gwh_2015             8203 non-null   float64
 21  generation_gwh_2016             9144 non-null   float64
 22  generation_gwh_2017             9500 non-null   float64
 23  generation_gwh_2018             9637 non-null   float64
 24  generation_gwh_2019             9659 non-null   float64
 25  generation_data_source          11400 non-null  object
 26  estimated_generation_gwh_2013   16120 non-null  float64
 27  estimated_generation_gwh_2014   16503 non-null  float64
 28  estimated_generation_gwh_2015   17050 non-null  float64
 29  estimated_generation_gwh_2016   17570 non-null  float64
 30  estimated_generation_gwh_2017   33138 non-null  float64
 31  estimated_generation_note_2013  34936 non-null  object
 32  estimated_generation_note_2014  34936 non-null  object
 33  estimated_generation_note_2015  34936 non-null  object
 34  estimated_generation_note_2016  34936 non-null  object
 35  estimated_generation_note_2017  34936 non-null  object
dtypes: float64(17), object(19)
memory usage: 9.6+ MB

In [5]:
# Define the columns to keep
columns_to_keep_power = ['country_long', 'capacity_mw', 'latitude', 'longitude', 'primary_fuel']

In [6]:
power = power[columns_to_keep_power]

In [7]:
power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34936 entries, 0 to 34935
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_long  34936 non-null  object
 1   capacity_mw   34936 non-null  float64
 2   latitude      34936 non-null  float64
 3   longitude     34936 non-null  float64
 4   primary_fuel  34936 non-null  object
dtypes: float64(3), object(2)
memory usage: 1.3+ MB

In [8]:
power['country_long'] = power['country_long'].str.lower()

country_mapping = {
    'united states': 'usa',
    'united kingdom': 'uk',
}

power['country_long'] = power['country_long'].replace(country_mapping)

In [9]:
power.isnull().sum()

country_long    0
capacity_mw     0
latitude        0
longitude       0
primary_fuel    0
dtype: int64

In [10]:
power.to_csv('power_plants_updated.csv', index=False)

## üå´Ô∏è AQI data preparing

In [11]:
# Display general info for each DataFrame
print("Air Data AQI Information:")
print(airdata_aqi.info())
print("\nAir Data Country Information:")
print(airdata_country.info())
print("\nAir Data Date Information:")
print(airdata_date.info())

Air Data AQI Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16409 entries, 0 to 16408
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AQI Value  16409 non-null  int64
dtypes: int64(1)
memory usage: 128.3 KB
None

Air Data Country Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16409 entries, 0 to 16408
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  16409 non-null  object
dtypes: object(1)
memory usage: 128.3+ KB
None

Air Data Date Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16409 entries, 0 to 16408
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    16409 non-null  object
dtypes: object(1)
memory usage: 128.3+ KB
None

In [12]:
airdata_country['Country'] = airdata_country['Country'].str.lower()

country_mapping = {
    'united states': 'usa',
    'united kingdom': 'uk',
}

airdata_country['Country'] = airdata_country['Country'].replace(country_mapping)

airdata_date['Date'] = pd.to_datetime(airdata_date['Date'], errors='coerce')

In [13]:
print("\nNull Values in Air Data AQI:")
print(airdata_aqi.isnull().sum())

Null Values in Air Data AQI:
AQI Value    0
dtype: int64

In [14]:
print("\nNull Values in Air Data Country:")
print(airdata_country.isnull().sum())

Null Values in Air Data Country:
Country    0
dtype: int64

In [15]:
print("\nNull Values in Air Data Date:")
print(airdata_date.isnull().sum())

Null Values in Air Data Date:
Date    0
dtype: int64

In [16]:
airdata_aqi.to_csv('aqi-data/airdata_aqi_updated.csv', index=False)
airdata_country.to_csv('aqi-data/airdata_country_updated.csv', index=False)
airdata_date.to_csv('aqi-data/airdata_date_updated.csv', index=False)

## üë• HDI data preparing

In [17]:
# Display general info for each DataFrame
print("HDI Data Demographics Information:")
print(hdidata_demographics.info())
print("\nHDI Data CO2 Emissions Information:")
print(hdidata_co2.info())
print("\nHDI Data Income Information:")
print(hdidata_income.info())
print("\nHDI Data HDI Information:")
print(hdidata_hdi.info())
print("\nHDI Data Life Expectancy Information:")
print(hdidata_life_expectancy.info())

HDI Data Demographics Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ISO3                             195 non-null    object
 1   Country                          195 non-null    object
 2   Human Development Groups         191 non-null    object
 3   UNDP Developing Regions          151 non-null    object
 4   HDI Rank (2021)                  191 non-null    float64
 5   Difference from HDI rank (2021)  155 non-null    float64
dtypes: float64(2), object(4)
memory usage: 9.3+ KB
None

HDI Data CO2 Emissions Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 32 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Carbon dioxide emissions per capita (production) (tonnes) (1990)  187 non-null    float64
 1   Carbon dioxide emissions per capita (production) (tonnes) (1991)  188 non-null    float64
 2   Carbon dioxide emissions per capita (production) (tonnes) (1992)  191 non-null    float64
 3   Carbon dioxide emissions per capita (production) (tonnes) (1993)  191 non-null    float64
 4   Carbon dioxide emissions per capita (production) (tonnes) (1994)  192 non-null    float64
 5   Carbon dioxide emissions per capita (production) (tonnes) (1995)  192 non-null    float64
 6   Carbon dioxide emissions per capita (production) (tonnes) (1996)  192 non-null    float64
 7   Carbon dioxide emissions per capita (production) (tonnes) (1997)  192 non-null    float64
 8   Carbon dioxide emissions per capita (production) (tonnes) (1998)  192 non-null    float64
 9   Carbon dioxide emissions per capita (production) (tonnes) (1999)  192 non-null    float64
 10  Carbon dioxide emissions per capita (production) (tonnes) (2000)  192 non-null    float64
 11  Carbon dioxide emissions per capita (production) (tonnes) (2001)  192 non-null    float64
 12  Carbon dioxide emissions per capita (production) (tonnes) (2002)  193 non-null    float64
 13  Carbon dioxide emissions per capita (production) (tonnes) (2003)  193 non-null    float64
 14  Carbon dioxide emissions per capita (production) (tonnes) (2004)  193 non-null    float64
 15  Carbon dioxide emissions per capita (production) (tonnes) (2005)  193 non-null    float64
 16  Carbon dioxide emissions per capita (production) (tonnes) (2006)  193 non-null    float64
 17  Carbon dioxide emissions per capita (production) (tonnes) (2007)  193 non-null    float64
 18  Carbon dioxide emissions per capita (production) (tonnes) (2008)  193 non-null    float64
 19  Carbon dioxide emissions per capita (production) (tonnes) (2009)  193 non-null    float64
 20  Carbon dioxide emissions per capita (production) (tonnes) (2010)  193 non-null    float64
 21  Carbon dioxide emissions per capita (production) (tonnes) (2011)  193 non-null    float64
 22  Carbon dioxide emissions per capita (production) (tonnes) (2012)  193 non-null    float64
 23  Carbon dioxide emissions per capita (production) (tonnes) (2013)  193 non-null    float64
 24  Carbon dioxide emissions per capita (production) (tonnes) (2014)  193 non-null    float64
 25  Carbon dioxide emissions per capita (production) (tonnes) (2015)  193 non-null    float64
 26  Carbon dioxide emissions per capita (production) (tonnes) (2016)  193 non-null    float64
 27  Carbon dioxide emissions per capita (production) (tonnes) (2017)  193 non-null    float64
 28  Carbon dioxide emissions per capita (production) (tonnes) (2018)  193 non-null    float64
 29  Carbon dioxide emissions per capita (production) (tonnes) (2019)  193 non-null    float64
 30  Carbon dioxide emissions per capita (production) (tonnes) (2020)  193 non-null    float64
 31  Carbon dioxide emissions per capita (production) (tonnes) (2021)  193 non-null    float64
dtypes: float64(32)
memory usage: 48.9 KB
None

HDI Data Income Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 32 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Gross National Income Per Capita (1990)  184 non-null    float64
 1   Gross National Income Per Capita (1991)  184 non-null    float64
 2   Gross National Income Per Capita (1992)  184 non-null    float64
 3   Gross National Income Per Capita (1993)  184 non-null    float64
 4   Gross National Income Per Capita (1994)  184 non-null    float64
 5   Gross National Income Per Capita (1995)  191 non-null    float64
 6   Gross National Income Per Capita (1996)  191 non-null    float64
 7   Gross National Income Per Capita (1997)  191 non-null    float64
 8   Gross National Income Per Capita (1998)  191 non-null    float64
 9   Gross National Income Per Capita (1999)  191 non-null    float64
 10  Gross National Income Per Capita (2000)  191 non-null    float64
 11  Gross National Income Per Capita (2001)  191 non-null    float64
 12  Gross National Income Per Capita (2002)  191 non-null    float64
 13  Gross National Income Per Capita (2003)  191 non-null    float64
 14  Gross National Income Per Capita (2004)  191 non-null    float64
 15  Gross National Income Per Capita (2005)  192 non-null    float64
 16  Gross National Income Per Capita (2006)  192 non-null    float64
 17  Gross National Income Per Capita (2007)  192 non-null    float64
 18  Gross National Income Per Capita (2008)  193 non-null    float64
 19  Gross National Income Per Capita (2009)  193 non-null    float64
 20  Gross National Income Per Capita (2010)  193 non-null    float64
 21  Gross National Income Per Capita (2011)  193 non-null    float64
 22  Gross National Income Per Capita (2012)  193 non-null    float64
 23  Gross National Income Per Capita (2013)  193 non-null    float64
 24  Gross National Income Per Capita (2014)  193 non-null    float64
 25  Gross National Income Per Capita (2015)  193 non-null    float64
 26  Gross National Income Per Capita (2016)  193 non-null    float64
 27  Gross National Income Per Capita (2017)  193 non-null    float64
 28  Gross National Income Per Capita (2018)  193 non-null    float64
 29  Gross National Income Per Capita (2019)  193 non-null    float64
 30  Gross National Income Per Capita (2020)  193 non-null    float64
 31  Gross National Income Per Capita (2021)  193 non-null    float64
dtypes: float64(32)
memory usage: 48.9 KB
None

HDI Data HDI Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Human Development Index (1990)  141 non-null    float64
 1   Human Development Index (1991)  141 non-null    float64
 2   Human Development Index (1992)  141 non-null    float64
 3   Human Development Index (1993)  141 non-null    float64
 4   Human Development Index (1994)  141 non-null    float64
 5   Human Development Index (1995)  152 non-null    float64
 6   Human Development Index (1996)  152 non-null    float64
 7   Human Development Index (1997)  152 non-null    float64
 8   Human Development Index (1998)  152 non-null    float64
 9   Human Development Index (1999)  157 non-null    float64
 10  Human Development Index (2000)  174 non-null    float64
 11  Human Development Index (2001)  174 non-null    float64
 12  Human Development Index (2002)  177 non-null    float64
 13  Human Development Index (2003)  179 non-null    float64
 14  Human Development Index (2004)  181 non-null    float64
 15  Human Development Index (2005)  186 non-null    float64
 16  Human Development Index (2006)  186 non-null    float64
 17  Human Development Index (2007)  187 non-null    float64
 18  Human Development Index (2008)  187 non-null    float64
 19  Human Development Index (2009)  187 non-null    float64
 20  Human Development Index (2010)  189 non-null    float64
 21  Human Development Index (2011)  190 non-null    float64
 22  Human Development Index (2012)  190 non-null    float64
 23  Human Development Index (2013)  190 non-null    float64
 24  Human Development Index (2014)  190 non-null    float64
 25  Human Development Index (2015)  190 non-null    float64
 26  Human Development Index (2016)  190 non-null    float64
 27  Human Development Index (2017)  190 non-null    float64
 28  Human Development Index (2018)  191 non-null    float64
 29  Human Development Index (2019)  191 non-null    float64
 30  Human Development Index (2020)  191 non-null    float64
 31  Human Development Index (2021)  191 non-null    float64
dtypes: float64(32)
memory usage: 48.9 KB
None

HDI Data Life Expectancy Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Life Expectancy at Birth (1990)  195 non-null    float64
 1   Life Expectancy at Birth (1991)  195 non-null    float64
 2   Life Expectancy at Birth (1992)  195 non-null    float64
 3   Life Expectancy at Birth (1993)  195 non-null    float64
 4   Life Expectancy at Birth (1994)  195 non-null    float64
 5   Life Expectancy at Birth (1995)  195 non-null    float64
 6   Life Expectancy at Birth (1996)  195 non-null    float64
 7   Life Expectancy at Birth (1997)  195 non-null    float64
 8   Life Expectancy at Birth (1998)  195 non-null    float64
 9   Life Expectancy at Birth (1999)  195 non-null    float64
 10  Life Expectancy at Birth (2000)  195 non-null    float64
 11  Life Expectancy at Birth (2001)  195 non-null    float64
 12  Life Expectancy at Birth (2002)  195 non-null    float64
 13  Life Expectancy at Birth (2003)  195 non-null    float64
 14  Life Expectancy at Birth (2004)  195 non-null    float64
 15  Life Expectancy at Birth (2005)  195 non-null    float64
 16  Life Expectancy at Birth (2006)  195 non-null    float64
 17  Life Expectancy at Birth (2007)  195 non-null    float64
 18  Life Expectancy at Birth (2008)  195 non-null    float64
 19  Life Expectancy at Birth (2009)  195 non-null    float64
 20  Life Expectancy at Birth (2010)  195 non-null    float64
 21  Life Expectancy at Birth (2011)  195 non-null    float64
 22  Life Expectancy at Birth (2012)  195 non-null    float64
 23  Life Expectancy at Birth (2013)  195 non-null    float64
 24  Life Expectancy at Birth (2014)  195 non-null    float64
 25  Life Expectancy at Birth (2015)  195 non-null    float64
 26  Life Expectancy at Birth (2016)  195 non-null    float64
 27  Life Expectancy at Birth (2017)  195 non-null    float64
 28  Life Expectancy at Birth (2018)  195 non-null    float64
 29  Life Expectancy at Birth (2019)  195 non-null    float64
 30  Life Expectancy at Birth (2020)  195 non-null    float64
 31  Life Expectancy at Birth (2021)  195 non-null    float64
dtypes: float64(32)
memory usage: 48.9 KB
None

In [18]:
print("\nNull Values in HDI Data Demographics:")
print(hdidata_demographics.isnull().sum())

Null Values in HDI Data Demographics:
ISO3                                0
Country                             0
Human Development Groups            4
UNDP Developing Regions            44
HDI Rank (2021)                     4
Difference from HDI rank (2021)    40
dtype: int64

In [19]:
print("\nNull Values in HDI Data CO2 Emissions:")
print(hdidata_co2.isnull().sum())

Null Values in HDI Data CO2 Emissions:
Carbon dioxide emissions per capita (production) (tonnes) (1990)    8
Carbon dioxide emissions per capita (production) (tonnes) (1991)    7
Carbon dioxide emissions per capita (production) (tonnes) (1992)    4
Carbon dioxide emissions per capita (production) (tonnes) (1993)    4
Carbon dioxide emissions per capita (production) (tonnes) (1994)    3
Carbon dioxide emissions per capita (production) (tonnes) (1995)    3
Carbon dioxide emissions per capita (production) (tonnes) (1996)    3
Carbon dioxide emissions per capita (production) (tonnes) (1997)    3
Carbon dioxide emissions per capita (production) (tonnes) (1998)    3
Carbon dioxide emissions per capita (production) (tonnes) (1999)    3
Carbon dioxide emissions per capita (production) (tonnes) (2000)    3
Carbon dioxide emissions per capita (production) (tonnes) (2001)    3
Carbon dioxide emissions per capita (production) (tonnes) (2002)    2
Carbon dioxide emissions per capita (production) (tonnes) (2003)    2
Carbon dioxide emissions per capita (production) (tonnes) (2004)    2
Carbon dioxide emissions per capita (production) (tonnes) (2005)    2
Carbon dioxide emissions per capita (production) (tonnes) (2006)    2
Carbon dioxide emissions per capita (production) (tonnes) (2007)    2
Carbon dioxide emissions per capita (production) (tonnes) (2008)    2
Carbon dioxide emissions per capita (production) (tonnes) (2009)    2
Carbon dioxide emissions per capita (production) (tonnes) (2010)    2
Carbon dioxide emissions per capita (production) (tonnes) (2011)    2
Carbon dioxide emissions per capita (production) (tonnes) (2012)    2
Carbon dioxide emissions per capita (production) (tonnes) (2013)    2
Carbon dioxide emissions per capita (production) (tonnes) (2014)    2
Carbon dioxide emissions per capita (production) (tonnes) (2015)    2
Carbon dioxide emissions per capita (production) (tonnes) (2016)    2
Carbon dioxide emissions per capita (production) (tonnes) (2017)    2
Carbon dioxide emissions per capita (production) (tonnes) (2018)    2
Carbon dioxide emissions per capita (production) (tonnes) (2019)    2
Carbon dioxide emissions per capita (production) (tonnes) (2020)    2
Carbon dioxide emissions per capita (production) (tonnes) (2021)    2
dtype: int64

In [20]:
print("\nNull Values in HDI Data Income:")
print(hdidata_income.isnull().sum())

Null Values in HDI Data Income:
Gross National Income Per Capita (1990)    11
Gross National Income Per Capita (1991)    11
Gross National Income Per Capita (1992)    11
Gross National Income Per Capita (1993)    11
Gross National Income Per Capita (1994)    11
Gross National Income Per Capita (1995)     4
Gross National Income Per Capita (1996)     4
Gross National Income Per Capita (1997)     4
Gross National Income Per Capita (1998)     4
Gross National Income Per Capita (1999)     4
Gross National Income Per Capita (2000)     4
Gross National Income Per Capita (2001)     4
Gross National Income Per Capita (2002)     4
Gross National Income Per Capita (2003)     4
Gross National Income Per Capita (2004)     4
Gross National Income Per Capita (2005)     3
Gross National Income Per Capita (2006)     3
Gross National Income Per Capita (2007)     3
Gross National Income Per Capita (2008)     2
Gross National Income Per Capita (2009)     2
Gross National Income Per Capita (2010)     2
Gross National Income Per Capita (2011)     2
Gross National Income Per Capita (2012)     2
Gross National Income Per Capita (2013)     2
Gross National Income Per Capita (2014)     2
Gross National Income Per Capita (2015)     2
Gross National Income Per Capita (2016)     2
Gross National Income Per Capita (2017)     2
Gross National Income Per Capita (2018)     2
Gross National Income Per Capita (2019)     2
Gross National Income Per Capita (2020)     2
Gross National Income Per Capita (2021)     2
dtype: int64

In [21]:
print("\nNull Values in HDI Data HDI:")
print(hdidata_hdi.isnull().sum())

Null Values in HDI Data HDI:
Human Development Index (1990)    54
Human Development Index (1991)    54
Human Development Index (1992)    54
Human Development Index (1993)    54
Human Development Index (1994)    54
Human Development Index (1995)    43
Human Development Index (1996)    43
Human Development Index (1997)    43
Human Development Index (1998)    43
Human Development Index (1999)    38
Human Development Index (2000)    21
Human Development Index (2001)    21
Human Development Index (2002)    18
Human Development Index (2003)    16
Human Development Index (2004)    14
Human Development Index (2005)     9
Human Development Index (2006)     9
Human Development Index (2007)     8
Human Development Index (2008)     8
Human Development Index (2009)     8
Human Development Index (2010)     6
Human Development Index (2011)     5
Human Development Index (2012)     5
Human Development Index (2013)     5
Human Development Index (2014)     5
Human Development Index (2015)     5
Human Development Index (2016)     5
Human Development Index (2017)     5
Human Development Index (2018)     4
Human Development Index (2019)     4
Human Development Index (2020)     4
Human Development Index (2021)     4
dtype: int64

In [22]:
print("\nNull Values in HDI Data Life Expectancy:")
print(hdidata_life_expectancy.isnull().sum())

Null Values in HDI Data Life Expectancy:
Life Expectancy at Birth (1990)    0
Life Expectancy at Birth (1991)    0
Life Expectancy at Birth (1992)    0
Life Expectancy at Birth (1993)    0
Life Expectancy at Birth (1994)    0
Life Expectancy at Birth (1995)    0
Life Expectancy at Birth (1996)    0
Life Expectancy at Birth (1997)    0
Life Expectancy at Birth (1998)    0
Life Expectancy at Birth (1999)    0
Life Expectancy at Birth (2000)    0
Life Expectancy at Birth (2001)    0
Life Expectancy at Birth (2002)    0
Life Expectancy at Birth (2003)    0
Life Expectancy at Birth (2004)    0
Life Expectancy at Birth (2005)    0
Life Expectancy at Birth (2006)    0
Life Expectancy at Birth (2007)    0
Life Expectancy at Birth (2008)    0
Life Expectancy at Birth (2009)    0
Life Expectancy at Birth (2010)    0
Life Expectancy at Birth (2011)    0
Life Expectancy at Birth (2012)    0
Life Expectancy at Birth (2013)    0
Life Expectancy at Birth (2014)    0
Life Expectancy at Birth (2015)    0
Life Expectancy at Birth (2016)    0
Life Expectancy at Birth (2017)    0
Life Expectancy at Birth (2018)    0
Life Expectancy at Birth (2019)    0
Life Expectancy at Birth (2020)    0
Life Expectancy at Birth (2021)    0
dtype: int64

In [23]:
columns_to_keep_demo = ['Country']
columns_to_keep_co2 = ['Carbon dioxide emissions per capita (production) (tonnes) (2005)', 'Carbon dioxide emissions per capita (production) (tonnes) (2006)', 'Carbon dioxide emissions per capita (production) (tonnes) (2007)', 'Carbon dioxide emissions per capita (production) (tonnes) (2008)', 'Carbon dioxide emissions per capita (production) (tonnes) (2009)', 'Carbon dioxide emissions per capita (production) (tonnes) (2010)', 'Carbon dioxide emissions per capita (production) (tonnes) (2011)', 'Carbon dioxide emissions per capita (production) (tonnes) (2012)', 'Carbon dioxide emissions per capita (production) (tonnes) (2013)', 'Carbon dioxide emissions per capita (production) (tonnes) (2014)', 'Carbon dioxide emissions per capita (production) (tonnes) (2015)', 'Carbon dioxide emissions per capita (production) (tonnes) (2016)', 'Carbon dioxide emissions per capita (production) (tonnes) (2017)', 'Carbon dioxide emissions per capita (production) (tonnes) (2018)', 'Carbon dioxide emissions per capita (production) (tonnes) (2019)']
columns_to_keep_income = ['Gross National Income Per Capita (2005)', 'Gross National Income Per Capita (2006)', 'Gross National Income Per Capita (2007)', 'Gross National Income Per Capita (2008)', 'Gross National Income Per Capita (2009)', 'Gross National Income Per Capita (2010)', 'Gross National Income Per Capita (2011)', 'Gross National Income Per Capita (2012)', 'Gross National Income Per Capita (2013)', 'Gross National Income Per Capita (2014)', 'Gross National Income Per Capita (2015)', 'Gross National Income Per Capita (2016)', 'Gross National Income Per Capita (2017)', 'Gross National Income Per Capita (2018)', 'Gross National Income Per Capita (2019)']
columns_to_keep_hdi = ['Human Development Index (2005)', 'Human Development Index (2006)', 'Human Development Index (2007)', 'Human Development Index (2008)', 'Human Development Index (2009)', 'Human Development Index (2010)', 'Human Development Index (2011)', 'Human Development Index (2012)', 'Human Development Index (2013)', 'Human Development Index (2014)', 'Human Development Index (2015)', 'Human Development Index (2016)', 'Human Development Index (2017)', 'Human Development Index (2018)', 'Human Development Index (2019)']
columns_to_keep_life_expectancy = ['Life Expectancy at Birth (2005)', 'Life Expectancy at Birth (2006)', 'Life Expectancy at Birth (2007)', 'Life Expectancy at Birth (2008)', 'Life Expectancy at Birth (2009)', 'Life Expectancy at Birth (2010)', 'Life Expectancy at Birth (2011)', 'Life Expectancy at Birth (2012)', 'Life Expectancy at Birth (2013)', 'Life Expectancy at Birth (2014)', 'Life Expectancy at Birth (2015)', 'Life Expectancy at Birth (2016)', 'Life Expectancy at Birth (2017)', 'Life Expectancy at Birth (2018)', 'Life Expectancy at Birth (2019)']

In [24]:
hdidata_demographics = hdidata_demographics[columns_to_keep_demo]
hdidata_co2 = hdidata_co2[columns_to_keep_co2]
hdidata_income = hdidata_income[columns_to_keep_income]
hdidata_hdi = hdidata_hdi[columns_to_keep_hdi]
hdidata_life_expectancy = hdidata_life_expectancy[columns_to_keep_life_expectancy]

In [25]:
hdidata_co2 = pd.concat([hdidata_demographics, hdidata_co2])
hdidata_income = pd.concat([hdidata_demographics, hdidata_income])
hdidata_hdi = pd.concat([hdidata_demographics, hdidata_hdi])
hdidata_life_expectancy = pd.concat([hdidata_demographics, hdidata_life_expectancy])

In [26]:
hdidata_co2_melted = pd.melt(hdidata_co2, 
                         id_vars=['Country'], 
                         value_vars=[col for col in hdidata_co2.columns if col != 'Country'],
                         var_name='Year', 
                         value_name='Carbon dioxide emissions per capita (production) (tonnes)')

hdidata_income_melted = pd.melt(hdidata_income, 
                         id_vars=['Country'], 
                         value_vars=[col for col in hdidata_income.columns if col != 'Country'],
                         var_name='Year', 
                         value_name='Gross National Income Per Capita')

hdidata_hdi_melted = pd.melt(hdidata_hdi, 
                         id_vars=['Country'], 
                         value_vars=[col for col in hdidata_hdi.columns if col != 'Country'],
                         var_name='Year', 
                         value_name='HDI')

hdidata_life_expectancy_melted = pd.melt(hdidata_life_expectancy, 
                         id_vars=['Country'], 
                         value_vars=[col for col in hdidata_life_expectancy.columns if col != 'Country'],
                         var_name='Year', 
                         value_name='Life Expectancy at Birth')

In [27]:
# Function to extract and clean the year column
def extract_year(melted_df):
    melted_df['Year'] = melted_df['Year'].str.extract(r'(\d{4})')[0].astype(int)
    return melted_df

In [28]:
# Clean up the year column in each melted dataframe
co2_melted = extract_year(hdidata_co2_melted)
gni_melted = extract_year(hdidata_income_melted)
hdi_melted = extract_year(hdidata_hdi_melted)
life_expectancy_melted = extract_year(hdidata_life_expectancy_melted)

In [29]:
print("Changed HDI Data CO2 Emissions Information:")
print(co2_melted.info())
print("\nChanged HDI Data Income Information:")
print(gni_melted.info())
print("\nChanged HDI Data HDI Information:")
print(hdi_melted.info())
print("\nChanged HDI Data Life Expectancy Information:")
print(life_expectancy_melted.info())

Changed HDI Data CO2 Emissions Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 3 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Country                                                    2925 non-null   object
 1   Year                                                       5850 non-null   int64
 2   Carbon dioxide emissions per capita (production) (tonnes)  2895 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 137.2+ KB
None

Changed HDI Data Income Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           2925 non-null   object
 1   Year                              5850 non-null   int64
 2   Gross National Income Per Capita  2892 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 137.2+ KB
None

Changed HDI Data HDI Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  2925 non-null   object
 1   Year     5850 non-null   int64
 2   HDI      2834 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 137.2+ KB
None

Changed HDI Data Life Expectancy Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   2925 non-null   object
 1   Year                      5850 non-null   int64
 2   Life Expectancy at Birth  2925 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 137.2+ KB
None

In [30]:
co2_melted['Country'] = co2_melted['Country'].str.lower()
gni_melted['Country'] = gni_melted['Country'].str.lower()
hdi_melted['Country'] = hdi_melted['Country'].str.lower()
life_expectancy_melted['Country'] = life_expectancy_melted['Country'].str.lower()

country_mapping = {
    'united states': 'usa',
    'united kingdom': 'uk',
}

co2_melted['Country'] = co2_melted['Country'].replace(country_mapping)
gni_melted['Country'] = gni_melted['Country'].replace(country_mapping)
hdi_melted['Country'] = hdi_melted['Country'].replace(country_mapping)
life_expectancy_melted['Country'] = life_expectancy_melted['Country'].replace(country_mapping)

In [31]:
co2_melted.to_csv('hdi-datas-collection/co2_updated.csv', index=False)
gni_melted.to_csv('hdi-datas-collection/gni_updated.csv', index=False)
hdi_melted.to_csv('hdi-datas-collection/hdi_updated.csv', index=False)
life_expectancy_melted.to_csv('hdi-datas-collection/life_expectancy_updated.csv', index=False)